<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinder For Restaurants</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>Welcome to Tinder for Restaurants</h3>

    <button type="submit"> <a href="signup.html">Sign Up</a></button>
    <button type="submit"> <a href="/signin">Sign In</a></button>
    <button type="submit"> <a href="/signout">Sign Out</a></button>

	<script src="index.js"></script>
  </body>
</html>