<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> 
    <!-- font link for "Tinder For Restaurant" header -->
  <body class="d-flex-column">
    <section class="container d-flex-column">
      <div class="text-wrapper-2">Tinder For Restaurants</div>
      <form>
        <div class="inp-container">
          <img src="./assets/user.svg" />
          <input class="inp" type="text" name="name" placeholder="Username" />
        </div>
        <div class="inp-container">
          <img src="./assets/lock.svg"/>
          <input
            class="inp"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <button class="btn">LogIn</button>
        <p>Forgot password?</p>
      </form>
    </section>
    <p>
      Design by:
      <a
        href="https://www.figma.com/community/file/872144934711314532"
        target="_blank"
        title="Ajay Gorecha "
      >
        Ajay Gorecha</a
      >
      Coded by:
      <a
        href="https://github.com/afaiz-space/logIn-page"
        target="_blank"
        title="faizan"
        >Faizan</a
      >
    </p>
  </body>
</html>