<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/saved.css' %}">
</head>
<body>
    <div class="header-container">
        <div class="title-container">
            <a href='..'><h3> Tinder For Restaurants </h3></a>
        </div>
        <div class="header-buttons">
            <button type="submit"><a href="/saved_restaurants">Saved Restaurants</a></button>
            <button type="submit"><a href="/signout">Sign Out</a></button>
        </div>
    </div>
    <div class="spacer"></div> 

    <div class="content-container">
        <h2>Saved Restaurants</h2>
        <div class="restaurant-list">
            {% for restaurant in restaurants %}
                <div class="restaurant-item" data-id="{{ restaurant.yelp_id }}" >
                    <div class="restaurant-header">
                        <h3 class="restaurant-name">{{ restaurant.name }} - {{ restaurant.price }} </h3>
                        <span><img src="{{ restaurant.image_url }}" alt="{{ restaurant.name }}" class="restaurant-image"></span>
                    </div>
                    <div class="restaurant-details" style="display: none;">
                        <p><span class="display-label">Rating:</span> {{ restaurant.rating }}</p>
                        <p><span class="display-label">Address:</span> {{ restaurant.address }}</p>
                        <p><span class="display-label">Phone:</span> {{ restaurant.phone }}</p>
                        <a href="{{ restaurant.yelp_url }}" target="_blank">Visit Yelp Page</a>
                    </div>
                    <div class="buttons-container">
                        <button class="details-button">More Details</button>
                        <button class="delete-button">Delete</button>
                    </div>
                </div>
                </div>
            {% empty %}
                <div class="no-results">No saved restaurants.</p>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/saved.js' %}"></script>
</body>
</html>




