<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  </head>
  <body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"> &times; </span>
    </button>
    </div>
    {% endfor %}

    <div class="header-container">
      <h3> Tinder For Restaurants </h3>
      </div>

      <div class="spacer"></div>
<!-- csrf token is django specific for forms-->
    <div>
    <form action="/signup" method="post"> 
    {% csrf_token %}
        <h2> Sign Up </h2>
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers)" Required>
        <br>
        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="Enter Your First Name" Required>
        <br>
        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
        <br>
        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email Address" Required>
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Create a Password" Required>
        <br>
        <label for="">Confirm your password</label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
        <br>
        <button type="submit">Sign Up</button>
        <div class="navigation-link">
          Already have an account? <a href="signin">Sign In</a>
        </div>
    </form>
  </div>

	<script src="{% static 'js/main.js' %}"></script>
  </body>
</html>