<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h3> Sign Up </h3>

<!-- csrf token is django specific for forms-->
    {% csrf_token %}
    <form action="/signup" method="post"> 
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers)" Required>
        <br>
        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="Enter Your First Name" Required>
        <br>
        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
        <br>
        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email Address" Required>
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Create a Password" Required>
        <br>
        <label for="">Confirm your password</label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
        <br>
        <button type="submit">Sign Up</button>
    </form>

	<script src="index.js"></script>
  </body>
</html>