:root {
    --dark-blue: #2148c0;
    --white: #ffffff;
    --padding: 12px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --border-size-1: 1px;
    --br-radius-4: 4px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url(./assets/bg-curve.svg) no-repeat 100% 0 / contain,
      url(./assets/bg-circle-g.svg) no-repeat -25% 100%/50% 50%, var(--dark-blue);
    min-height: 100vh;
  }
  
  .d-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 20rem;
  }
  p {
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: 20px;
    margin-top: -8px;
    text-align: right;
    color: var(--white);
  }
  form {
    width: 100%;
  
    margin-top: 70px;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .inp-container {
    height: 44px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  
    padding-left: var(--padding);
  
    border: var(--border-size-1) solid var(--white);
    border-radius: var(--br-radius-4);
  }
  .inp {
    width: 100%;
    height: 100%;
  
    color: var(--white);
  
    padding: var(--padding) 0;
  
    background: none;
  
    border: none;
    outline: none;
  
    overflow: hidden;
  }
  .inp::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-14);
  
    letter-spacing: 1px;
    text-transform: uppercase;
  
    color: #9dbaf7;
  }
  .btn {
    margin-top: 20px;
    display: flex;
  
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding) 123px;
  
    background: var(--white);
  
    border-radius: 4px;
  
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-16);
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  
    color: var(--dark-blue);
  
    border: var(--border-size-1) solid transparent;
    outline: none;
  
    transition: all 0.5s;
  }
  .btn:hover {
    box-shadow: 0px 4px 4px #486ee5;
    border: var(--border-size-1) solid var(--white);
  
    background: transparent;
    color: var(--white);
  }
  body > p {
    margin-top: 20px;
    color: #9dbaf7;
  }
  a {
    color: rgb(236, 236, 236);
  }
  