/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Root Variables */
:root {
    --dark-blue: #2148c0;
    --white: #ffffff;
    --padding: 12px;
    --font-size-30: 30px;
    --font-size-14: 14px;
    --border-size-1: 1px;
    --font-size-large: 30px;
    --font-size-small: 14px;
    --br-radius-4: 4px;
}

/* Background and Alignment */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--dark-blue); Generic background color */

    background: url(../assets/bg-curve.svg) no-repeat 100% 0 / contain,
      url(../assets/bg-circle-g.svg) no-repeat -25% 100%/50% 50%, var(--dark-blue);
    font-family: 'Archivo Black', sans-serif;
    min-height: 100px;

}

/* Box-related styles */
.header-container{
    background-color: var(--primary-color) ;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Fixed height, so padding-bottom is likely not needed */
    /* Padding might need to be adjusted or removed depending on your layout */
}

/* Text-related styles */
.header-container h3{
    display: block; /* Make span behave like a block element */
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    /* Center the text vertically if the box has a fixed height */
    line-height: 50px; /* Should match the height of the container */
}

/* Spacer Styling */
.spacer {
    height: 100px;
    width: 100%;
}

/* Alert Box Styling */
.alert {
    width:fit-content;
    margin: 10px auto;
    padding: var(--padding);
    border-radius: var(--br-radius-4);
    border: var(--border-size-1) solid #ccc;
    background-color: var(--white);
    text-align: center;

}

/* Title Styling */
.welcome h3 {
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 24px;
    margin-bottom: 40px;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Button Styling */
button {
    padding: var(--padding);
    border: none;
    border-radius: var(--br-radius-4);
    background-color: var(--white);
    color: var(--dark-blue);
    cursor: pointer;
    font-size: 18px;
}

/* Link Styling */
button a {
    color: var(--dark-blue);
    text-decoration: none;
}
/* Set the background for specific divs to a solid color or transparent */
