* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #35424a;  /* Dark Slate Gray */
    --secondary-color: #e8491d; /* Coral */
    --tertiary-color: #f4f4f4;  /* Light Gray */
    --alert-padding: 12px;
    --font-size-large: 30px;
    --font-size-small: 14px;
    --border-size: 1px;
    --border-radius: 4px;
    --hover-color: #003d82;    /* Darker Blue for Hover */
    --white: #ffffff;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}


/* Header Styling */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    
}

.title-container {
    margin-left: auto;
    margin-right: 350px;
    text-align: center;
}

.header-container a {
    text-decoration: none; /* Removes underline */
    color: initial; /* Sets initial color, change as needed */
  }

.header-container h3 {
    color: var(--white);
    font-size: var(--font-size-large);
    margin: 0;
    line-height: 50px;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button {
    padding: var(--alert-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-small);
}

.header-buttons button:hover {
    background-color: var(--hover-color);
}

.header-buttons a {
    color: var(--white);
    text-decoration: none;
}

  /* Button Styling */
.button-container button {
    padding: var(--alert-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-small);
}

.button-container button:hover {
    background-color: var(--hover-color);
}

.button-container a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    pointer-events: auto; /* Enable clicks on buttons */
}


  
  /* Spacer Styling */
  .spacer {
    height: 50px;
    width: 100%;
  }

.location-search-container {
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 400px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Adjust input group for better alignment */
.input-group {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.loadingMessaeg {
    font-size: 17px;
    font-style: bold;
}
.input-group input[type="number"],
.input-group input[type="text"] {
    padding: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
    font-size: 1rem;
    flex-grow: 1; /* Allows input to take available space */
}

.unit {
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

/* .search-button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    pointer-events: auto; /* Enable clicks on buttons }*/
/* .search-button:hover {
    background-color: var(--hover-color);
    pointer-events: auto; /* Enable clicks on buttons }*/
.search button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
    pointer-events: auto; /* Enable clicks on buttons */
}

.search button[type="submit"]:hover {
    background-color: var(--hover-color);
    pointer-events: auto; /* Enable clicks on buttons */
}

/* Alert Box Styling */
.alert {
    width:fit-content;
    margin: 10px auto;
    padding: var(--alert-padding);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--secondary-color);
    background-color: var(--white);
    text-align: center;
}


.alert strong {
    font-weight: bold;
}

.close {
    color: var(--dark-gray);
    cursor: pointer;
    font-size: 1.2rem;
}
#alert-message {
    color: black; /* Sets the font color to black */
}