* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #35424a;  /* Dark Slate Gray */
    --secondary-color: #e8491d; /* Coral */
    --tertiary-color: #f4f4f4;  /* Light Gray */
    --alert-padding: 12px;
    --font-size-large: 30px;
    --font-size-small: 14px;
    --border-size: 1px;
    --border-radius: 4px;
    --hover-color: #003d82;    /* Darker Blue for Hover */
    --white: #ffffff;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}


/* Header Styling */
.header-container {
    display: block; /* Use flex instead of fixed */
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px; /* Add padding for spacing */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    text-align: center;
}

.header-container h3 {
    color: var(--white);
    font-size: var(--font-size-large);
    line-height: 50px;

    position: relative;
    text-align: center;
    align-self: center;
    justify-self: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

.header-container a:hover, .header-container a:active {
    font-weight: bold; /* Makes text bolder on hover or active */
    color: #ff0000; /* Changes color on hover or active, set to your preferred color */
  }
/* -------------------------------------- */

  .header-buttons {
    display: flex;
    align-items: right;
    position: relative;
    margin-left: auto; /* Push the button to the right */
    align-self: center; /* Align it vertically */

    display: block;
    gap: 10px;
    z-index: 1;
    top: 5px;
    right: 5px;
    position: fixed;
    }

    .header-buttons button {
        padding: var(--alert-padding);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--secondary-color);
        color: var(--white);
        cursor: pointer;
        font-size: var(--font-size-small);
        
    }
    
    .header-buttons a {
        color: var(--white);
        text-decoration: none;
        width: fit-content;
        text-align: center;
    }


  
  /* Spacer Styling */
  .spacer {
    height: 50px;
    width: 100%;
  }

  
.container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 600px;
    margin: 20px;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: var(--dark-gray);
    font-size: 18px;
}

.form-group select,
.form-group input[type="checkbox"] {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
    pointer-events: auto; /* Enable clicks on buttons */
}

form button[type="submit"]:hover {
    background-color: var(--hover-color);
    pointer-events: auto; /* Enable clicks on buttons */
}
