* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

:root {
    --primary-color: #35424a;  /* Dark Slate Gray */
    --secondary-color: #e8491d; /* Coral */
    --tertiary-color: #f4f4f4;  /* Light Gray */
    --light-gray: #f4f4f4;
    --medium-gray: #ddd;
    --dark-gray: #333;
    --hover-color: #003d82;    /* Darker Blue for Hover */
    --border-radius: 4px;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tertiary-color);
    font-size: 1rem;
}

.container {
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 600px;
    margin: 20px;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark-gray);
}

.form-group select,
.form-group input[type="checkbox"] {
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}
