* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #35424a;  /* Dark Slate Gray */
    --secondary-color: #e8491d; /* Coral */
    --tertiary-color: #f4f4f4;  /* Light Gray */
    --alert-padding: 12px;
    --font-size-large: 30px;
    --font-size-small: 14px;
    --border-size: 1px;
    --border-radius: 4px;
    --hover-color: #003d82;    /* Darker Blue for Hover */
    --white: #ffffff;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}


/* Header Styling */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    text-decoration: none; /* Removes underline */
    color: initial; /* Sets initial color, change as needed */
}

.header-container a {
    text-decoration: none; /* Removes underline */
    color: initial; /* Sets initial color, change as needed */
  }

.title-container {
    margin-left: auto;
    margin-right: 350px;
    text-align: center;
}

.header-container h3 {
    color: var(--white);
    font-size: var(--font-size-large);
    margin: 0;
    line-height: 50px;
    text-align: center;
    align-items: center;
    align-self: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.header-buttons button {
    padding: var(--alert-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-small);
    width: fit-content;
}

.header-buttons button:hover {
    background-color: var(--hover-color);
    width: fit-content;
}

.header-buttons a {
    color: var(--white);
    text-decoration: none;
    width: fit-content;
    text-align: center;
}


  /* Button Styling */
.button-container button {
    padding: var(--alert-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-size-small);
}

.button-container button:hover {
    background-color: var(--hover-color);
}

.button-container a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    pointer-events: auto; /* Enable clicks on buttons */
}

  
  /* Spacer Styling */
  .spacer {
    height: 50px;
    width: 100%;
  }

.container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 600px;
    margin: 20px;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: var(--dark-gray);
    font-size: 18px;
}

.form-group select,
.form-group input[type="checkbox"] {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
    pointer-events: auto; /* Enable clicks on buttons */
}

form button[type="submit"]:hover {
    background-color: var(--hover-color);
    pointer-events: auto; /* Enable clicks on buttons */
}
