* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Updated Root Variables */
:root {
  --primary-color: #35424a;  /* Dark Slate Gray */
  --secondary-color: #e8491d; /* Coral */
  --tertiary-color: #f4f4f4;  /* Light Gray */
  --alert-padding: 12px;
  --font-size-large: 30px;
  --font-size-small: 14px;
  --border-size: 1px;
  --border-radius: 4px;
  --hover-color: #003d82;    /* Darker Blue for Hover */
}

/* Background and Layout */
body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: var(--tertiary-color);
  padding: 20px;
}

/* Alert Messages */
.alert {
  width: 100%;
  padding: var(--alert-padding);
  margin-bottom: 15px;
  border: var(--border-size) solid var(--secondary-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--primary-color);
  font-size: var(--font-size-small);
}

/* Header Styling */
.header-container {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-radius: var(--border-radius);
}

.header-container h3 {
  font-size: var(--font-size-large);
  color: white;
}

/* Spacer Styling */
.spacer {
  height: 50px;
  width: 100%;
}

/* Sign Up Form Styling */
form {
  width: 500px;
  background: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

form h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-gray);
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: var(--border-size) solid var(--medium-gray);
  border-radius: var(--border-radius);
}

form button[type="submit"] {
  width: 100%;
  padding: var(--alert-padding);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: var(--hover-color);
}

.navigation-link {
  text-align: center;
  margin-top: 15px;
}

.navigation-link a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}