<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Finder</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"> &times; </span>
    </button>
    </div>
    {% endfor %}

    <div class="location-search-container">
        <div class="search-container">
            <h1>LOCATION</h1>
            <!-- Start of form -->
            <form method="post" action="{% url 'get_location' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="search-radius">Radius for restaurant search:</label>
                    <input type="number" name="radius" id="search-radius" placeholder="Enter radius in miles" min="1">
                    <span class="unit">mi</span>
                </div>
                <div class="input-group">
                    <input type="text" name="location" id="location-input" placeholder="Enter your location">
                </div>
                <button type="submit" id="search-button">Continue For More Filters</button>
            </form>
            <!-- End of form -->
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
